table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

h1 {
  text-align: center;
}

table {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: justify;
}

button {
  width: 65px;
  height: 30px;
  background-color: coral;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.number-color {
  background-color: cornflowerblue;
}
